.subscribe.button {
  background: rgb(204, 0, 0);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: 0.30s;
}
.subscribe.button:hover {
  opacity: 0.6;
}

.subscribe.button:active {
  opacity: 0.4;
}


.join.button {
  background: white;
  color: rgb(6, 95, 212);
  border-radius: 2px;
  padding: 9px 15px;
  border-color: rgb(6, 95, 212);
  border-color: solid;
  border-width: 1px;
  cursor: pointer;
  transition: background 0.30s, color 0.30s; 
}

.join.button:hover {
  background-color: rgb(72, 163, 242);
  color: white;
}

.join.button:active {
  opacity: 0.6;
}
  
  .Tweet.button {
   background: blue;
   color: white;
   padding: 9px 16px;
   background: rgb(29, 155, 240);
   border: none;
   border-radius: 50px;
   font-size: 15px;
   font-weight: bold;
   margin-left: 8px;
   cursor: pointer;
   transition: box-shadow 0.30s;
   }

   .Tweet.button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   }

   .Tweet.button:active {
    opacity: 0.7
   }
