
.eagle-div, .gabby-div, .lhasa-div {
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  display: inline-block;
}
.gabby-div {
  margin-left: 15px;
}
.lhasa-div {
  margin-left: 15px;
}

p {
  font-family: Arial;
}
.eagle-img, .gabby-img, .lhasa-img {
  object-fit: cover;
  object-position: center;
  width: 250px;
  height: 250px;
  display: block;
}
.Oliver-p, .mimi-p, .rex-p {
  font-weight: bold;
  font-size: 18px;
  margin-left: 7px;
}
.mutual-p, .mutual2-p, .mutual3-p {
  color: grey;
  font-size: 18px;
  margin-left: 7px;
}
.Addfriend-button, .Addfriend2-button, .Addfriend3-button {
  background: rgb(63, 142, 233);
  color: white;
  padding: 10px 10px;
  width: 130px;
  height: 40px;
  display: block;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 7px;
  margin-bottom: 7px;
}