p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
}
.email.p {
  font-size: 20px;
  color: rgb(50, 48, 48);
  margin-bottom: 10px;
}

.Linkedin.box {
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  padding: 15px 180px;
  margin-bottom: 20px;
}

.ClickAgree.p {
  font-size: 20px;
  color: rgb(50, 48, 48);
  margin-bottom: 20px;
}

.Agree.button {
  background: rgb(20, 118, 217);
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 40px;
  padding: 20px 180px;
}