p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.Videotitle.p {
font-size: 20px;
font-weight: bold;
width: 340px;
margin-bottom: 5px;
}

.Videostats.p {
font-size: 18px;
color: rgb(96 96 96);
margin-bottom: 20px;
}

.Videoauthor.p {
font-size: 18px;
color: rgb(96 96 96);
margin-bottom: 20px;
}

.Videocredit.p {
font-size: 18px;
color: rgb(96 96 96);
width: 340px;
margin-bottom: 0;
line-height: 23px;
}

.Appleshop.p {
  background: rgb(227, 65, 64);
  color: white;
  font-size: 16px;
  margin-top: 100px;
  padding: 20px 20px;
  text-align: center;
}

.Appleshopnow.link {
cursor: pointer;
}

.Appleshopnow.link:hover {
  text-decoration: underline
}